<!DOCTYPE html>
<html lang="id">
<head>
    <%- include('../partials/head') %>
</head>
<body class="bg-light d-flex flex-column min-vh-100">
    <div class="container flex-grow-1">
        <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
            <div class="col-md-4">
                <%- body %>
            </div>
        </div>
    </div>
    
    <%- include('../partials/scripts') %>
</body>
</html>
